.cart-form{
    display: none;
}

@media (max-width: 1024px) {
    .cart-form {
        display: flex;
        align-items: flex-end;
        width: 47px;
        height: 50px;
        background-color: #0EC261;
        border-radius: 10px;
        outline: none;
        border: none;
        margin-right: 15px;
    }
  }

  @media (max-width: 550px) {
    .cart-form {
        border-radius: 0px;
    }
  }

.cart-form:hover{
    filter: brightness(90%);
    cursor: pointer;
}

.cart-form:active{
    filter: brightness(80%);
}

.cart-pic{
    width: 30px;
}

