.extra-content{
    padding-left: 4%;
    display: flex;
    margin-left: 64px;
    height: 86.7%;
}

@media (max-width: 1024px) {
    .extra-content {
        display: block;
        margin-left: 85.77px;
    }
}

@media (max-width: 550px) {
    .extra-content {
        display: block;
        margin-left: 0px;
        padding-left: 0px;
    }
}

.extra-left-side{
    width: 86%;
    margin-top: 32px;
}

@media (max-width: 1024px) {
    .extra-left-side {
        width: 100%;
    }
}

@media (max-width: 550px) {
    .extra-left-side {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        border: none;
        margin-top: 4%;
    }
}

.color-header{
    font-family: "Roboto-Regular";
    list-style: none;
    margin-bottom: 18px;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #121212;
}

@media (max-width: 550px) {
    .color-header {
        margin-bottom: 2%;
    }
}

.data-header{
    font-family: "Roboto-Regular";
    list-style: none;
    margin-bottom: 18px;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #121212;
}

@media (max-width: 550px) {
    .data-header {
        margin-bottom: 2%;
    }
}

.tariff-header{
    font-family: "Roboto-Regular";
    list-style: none;
    margin-bottom: 18px;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #121212;
}

@media (max-width: 550px) {
    .tariff-header {
        margin-bottom: 2%;
    }
}

.tariff-form{
    margin-top: 32px;
}

@media (max-width: 550px) {
    .tariff-form {
        margin-top: 6%;
    }
}


.data-input-form{
    margin-top: 32px;
    width: fit-content;
}

@media (max-width: 550px) {
    .data-input-form {
        margin-top: 6%;
    }
}


.extra-form{
    margin-top: 32px;
}

@media (max-width: 550px) {
    .extra-form {
        margin-top: 6%;
    }
}

.input-date-form{
    font-family: "Roboto-Regular";
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    line-height: 16px;
}

.input-date-form:not(:first-child){
    margin-top: 9px;
}

.data-input{
    width: 224px;
    margin-left: 10px;
    border: none;
    border-bottom: 1px solid #999999;
    outline:none;
}

.data-input:disabled{
    background-color: white;
}

.data-input:active::-webkit-calendar-picker-indicator{
    visibility: visible;
}

.reset-data-btn{
    position: absolute;
    border: none;
    outline: none;
    background-color: white;
}

.since-date{
    padding-top: 4px;
}


