.qwe{
    overflow: hidden;
}

.header{
    display: flex;
    margin-left: 64px;
}

.location{
    position: absolute;
    font-family: "Roboto-Regular";
    cursor: pointer;
    display: flex;
    right: 51%;
    margin-top: 40px;

}

  @media (max-width: 1024px) {
    .location {
        right: 6%;

    }
  }

  @media (max-width: 550px) {
    .location {
        right: 6%;
        top: 4%;
    }
  }

.town{
    margin-top: 4px;
    margin-left: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #999999;
}

.content{
    position: absolute;
    display: flex;
    overflow: hidden;
    width: 100%;
    bottom: 0px;
    height: 100%;
}

@media (max-width: 550px) {
    .content{
        left: 0px;
        width:100%;
    }
  }

.left-side{
    padding-left: 64px;
    width: 53%;
    height: 100%;
}

@media (max-width: 1024px) {
    .left-side{
        padding-left: 85.77px;;
        width:100%;
    }
  }

@media (max-width: 550px){
  .left-side{
      padding-left: 0px;
      width: 100%;
  } 
}

.logo{
    cursor: pointer;
    font-family: "Roboto-Bold";
    margin-top: 32px;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #0EC261;
}

@media (max-width: 550px) {
    .logo{
        right: 5%;
        margin-top: 25px;
        position: absolute;
    }
  }

.main-content{
    margin-top: 22%;
    margin-left: 64px;
}

@media (max-width: 550px) {
    .main-content{
        margin-left: 0px;
    }
  }

.carsharing-text{
    font-family: "Roboto-Bold";
    font-size: 70px;
    line-height: 66px;
    color: #121212;
}

@media (max-width: 550px) {
    .carsharing-text {
        margin-left: 16px;
        margin-top: 36%;
        font-size: 32px;
        line-height: 100%;
    }
  }

.big-logo{
    font-family: "Roboto-Bold";
    width: 80%;
    margin-top:4px;
    font-weight: bold;
    font-size: 70px;
    line-height: 66px;
    color: #0EC261;
}

@media (max-width: 550px) {
    .big-logo {
        margin-left: 16px;
        font-size: 32px;
        line-height: 100%;
    }
  }

.purpose{
    margin-top: 24px;
    font-weight: 100;
    font-size: 26px;
    line-height: 30px;

    color: #999999;
}

@media (max-width: 550px) {
    .purpose {
        margin-left: 16px;
        font-size: 18px;
        width: 288px;
        line-height: 25px;
    }
  }

.btn-form{
    margin-top: 60px;
    width: 250px;
}

@media (max-width: 550px) {
    .btn-form{
        width: 100%;
    }
  }

.footer{
    display: flex;
}

@media (max-width: 550px) {
    .footer{
        position: absolute;
        width: 100%;
        height: 12%;
        background-color: black;
        bottom: 0px;
    }
  }

.cop-mark{
    font-family: "Roboto-Regular";
    position: absolute;
    bottom: 4%;
    margin-left: 64px;
    color: #999999;
    font-size: 13px;
    line-height: 15px;
}

@media (max-width: 550px) {
    .cop-mark{
        right: 4%;
        bottom: 22%;
    }
  }

.support-phone{
    font-family: "Roboto-Regular";
    position: absolute;
    cursor: pointer;
    bottom: 4%;
    right: 51%;
    font-size: 13px;
    line-height: 15px;
    color: #121212;
}

.support-phone:hover{
    color: #0EC261;
}

@media (max-width: 1024px) {
    .support-phone{
        right: 6%;
    }
  }

  @media (max-width: 550px) {
    .support-phone{
        top: 27%;
        color: #EEEEEE;
        right: 4%;
    }
    .support-phone:hover{
        color: #0EC261;
    }
  }