.header-form{
    display: flex;
    justify-content: space-between;
    height: 96px;
    padding-left: 64px;
}

.loc-logo{
    display: flex;
    cursor: pointer;
    font-family: "Roboto-Regular";
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #0EC261;
}

.loc-form{
    display: flex;
}
