.header-form{
    display: flex;
    justify-content: space-between;
    padding-right: 4%;
    margin-left: 4%;
    height: 10%;
    padding-left: 64px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #EEEEEE;
}

.loc-logo{
    display: flex;
    align-items: center;
    cursor: pointer;
    font-family: "Roboto-Bold";
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #0EC261;
}

.loc-form{
    display: flex;
    align-items: center;
}
