.model-content{
    display: flex;
    margin-left: 64px;
    height: 86.7%;
}

@media (max-width: 1024px) {
    .model-content {
        display: block;
        width: 100%;
        margin-left: 85.77px;
    }
}

@media (max-width: 550px) {
    .model-content {
        display: block;
        width: 100%;
        margin-left: 0px;
        padding-left: 0px;
    }
}

.model-left-side{
    padding-left: 4%;
    padding-right: 13%;
    width: 86%;
    margin-top: 32px;
    overflow: hidden;
}

@media (max-width: 1024px) {
    .model-left-side {
        padding-right: 4%;
    }
}

@media (max-width: 550px) {
    .model-left-side {
        width: auto;
        margin-top: 0px;
    }
}