.heading{
    position: relative;
    margin-top: 32%;
    margin-left: 10%;
    
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    color: white;

}


.text{
    position: inherit;
    font-weight: 300;
    line-height: 90%;
    width: 63%;;
    margin-left: 10%;
    font-size: 24px;
    color: #FFFFFF;
    margin-top: 1%;
    margin-bottom: 3%;
}

.button{
    position: fixed;
    cursor: pointer;
    display: flex;
    
    margin-left: 10%;
    width: 164px;
    height: 48px;
    
    border-radius: 4px;

    
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    align-items: center;
    justify-content: center;

    color: #FFFFFF;
}

.dark-slide{
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

.radio{
    width: 8px;
    height: 8px;
    border: 5px solid white;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}