
@media (max-width: 1024px) {
    .map-form {
        margin-right: 6%;
    }
}

.map-text{
    font-family: "Roboto-Regular";
    color: #121212;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    margin-top: 5%;
}

.map{
    margin-top: 1%;
    width: 100%;
    height: 318px;
}

@media (max-width: 550px) {
    .map {
        height: 179px;
    }
}




