.link{
    display: block;
    cursor: pointer;
    font-weight: 500;
    font-size: 32px;
    line-height: 52px;
    color: #FFFFFF;
}

@media (max-width: 1024px) {
    .link {
        font-weight: 500;
        font-size: 28px;
        line-height: 45px;
    }
  }

@media (max-width: 540px) {
    .link {
        cursor: pointer;
        font-weight: 500;
        font-size: 22px;
        line-height: 40px;
        color: #FFFFFF;
    }
  }

.link:hover{
    color: #0EC261;
}

.links-form{
    font-family: "Roboto-Regular";
    position: absolute;
    top: 36%;
    left: 128px;
}

@media (max-width: 1024px) {
    .links-form {
        left: 92px;
    }
  }

@media (max-width: 550px) {
    .links-form {
        top: 79px;
        left: 22px;
    }
  }

.facebook-pic{
    padding-left: 10px;
    cursor: pointer;
}

.facebook-pic:hover svg path{
    fill: #0EC261;
}

.instagram-pic{
    padding-left: 10px;
    cursor: pointer;
}

.instagram-pic:hover svg path{
    fill: #0EC261;
}

.telegram-pic{
    cursor: pointer;
}

.telegram-pic:hover svg path {
    fill: #0EC261;
}

.social-link{
    display:flex;
    padding-top: 38px;
}

